
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p, .reveal li, .reveal blockquote {
	color: white!important;
}

.present {
	top: 30px!important;
}
.logo {
	width: 30%;
}
#left {
	text-align: left;
	margin-left: 318px;
	margin-top: 25px;
}
h6 {
	text-transform: capitalize!important;
}
.left {
	float: left!important;
	width: 30%;
	margin-right: 3%!important;
}
.left img {
	width: 60%;
}
blockquote {
	width: 100%!important;
	padding:20px!important;
}
.status {
	margin:0 -5%!important;
}
.reveal #tofu {
	width: 40%!important;
	margin: 0px!important;
    background: none!important;
   	border: 0px!important;
    box-shadow: 0 0 0px!important;
    
}
.big h1 {
	font-size: 8em!important;
}

body{
	background-color: #008aaf!important;
}
img.logo{
	background: none!important;
   	/*border: 0px!important;*/
    /*box-shadow: 0 0 0px!important;*/
    padding: 15px 15px 0 15px;
}
.left-align{
	text-align: left!important;
}
.mission{
	margin-bottom: -10px!important;	
}